@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 0; 
    padding-right: 3px;
}


body {
    font-family: 'Proxima Nova Regular' ;
    margin: 0;
    padding: 0;
    font-weight: 700;

}

* {
    box-sizing: border-box;
}

h1, h2, h3 ,h4, h5, h6 {
    font-weight: 700;
    color: #7050E5;
    font-family: 'Proxima Nova Bold';
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Proxima Nova Regular';
    font-weight: 600;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background: url(../img/Bg.png) no-repeat center top; 
    background-size: 100%;
}

.headerMenu {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSalt {
    padding-top: 32px;
}

ul  {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 80px;
}

li a {
    color: #fff;
    text-decoration: none;
    padding: 0 14px;
}

.headerInfo {
    padding-left: 306px;
    display: flex;
}

.headerWrap h1 {
    font-size: 55px;
    color: #fff;
    margin: 129px 0 0;
}

.headerWrap p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 490px;
    line-height: 30px;
    padding-bottom: 44px;
    margin: 0;
}

.flexSection {
    display: flex;
    width: 923px;
    justify-content: space-between;
}

.btn {
    align-items: center;
    padding: 4px 40px;
    width: 174px;
    height: 53px;
    background: #FF8B00;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    left: 306px;
    top: 462px;
}

.findOutMore {
    font-size: 15px;
    width: 116px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 135px 0 50px;
    text-align: center;
}

.fom {
    margin-bottom: 19px;
}

.numbers {
    display: flex;
    width: 899px;
    margin: 0 auto;
    padding: 133px 0 131px;
}

.aboutNum {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutNum h1 {
    font-size: 60px;
}

.aboutNum p {
    color: #7050E5;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Proxima Nova Bold';
}

#centerNum {
    margin: 0 92px;
}

.action {
    background: #F8F8F8;
}

.blockName {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 68px;
}

.blockName h1 {
    font-size: 60px;
    margin: 25px 65px 0 0;
}


.marker {
    position: absolute;
}

.companyInfo {
    width: 999px;
    padding: 120px 0;
    margin: 0 auto;
}

.line {
    display: flex;
}

.card {
    width: 281px;
    padding-top: 72px;
    align-items: center;
}

.card img {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

.card h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.gray {
    font-weight: 400;
    color: #878787;
    line-height: 19px;
}

.center {
    margin: 0 100px;
}

.spotlight {
    width: 1303px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.infoSpotlight {
    width: 455px;
    margin: 209px 0 247px;
}

#spotlight {
    line-height: 21px;
    padding: 15px 0 38px;
}

.mi {
    width: 171px;
    height: 44px;
}

.video {
    margin: 114px 0 97px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popupBody {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContent {
    position: relative;
}

.popupClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
}

